
	@todo-cell-padding: 10px;

	.Todo {
		display: table-row;

		> * {
			display: table-cell;
			border-top: 1px solid @border-color;
			padding-top: @todo-cell-padding;
			padding-bottom: @todo-cell-padding;
			vertical-align: middle;
		}

		&:first-child >  *{
			border-top: none;
		}

		> .completed {
			padding-left: @todo-cell-padding;
		}
		
		.title {
			padding-left: @todo-cell-padding;
			width: 100%;
		}

		.actions {
			padding-right: @todo-cell-padding;
			white-space: nowrap;
			
			> * {
				cursor: pointer;
				font-size: 0.8em;
				display: inline-block;
				margin-left: .2em;

				&:first-child {
					margin-left: 0;
				}

				&:hover {
					color: red;
				}
			}

			svg {
				width: 1.2em;
				height: 1.2em;

				path {
					fill: #2078C7;
				}
			}

		}

		&.completed {
			
		}



	}