
	@import './Todo.less';

	@background-color: #ededec;
	@border-color: #dfdfdf;

	.Todos {
		margin: .5em;
		margin-top: 15px;
		
		
		.list {
			display: table;
			border: 1px solid @border-color;
			background-color: #fff;
			width: 100%;
		}

		.dialog.add {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			box-sizing: border-box;
			padding: .5em;
			background-color: #fff;

			* > {
				display: block;
				width: 100%;
				box-sizing: border-box;
				margin-top: .5em;

				&:first-child {
					margin-top: 0;
				}
			}

			&.hidden {
				display: none;
			}


		}




	}