
	@import './Todo.less';
	@import './TodoEdit.less';

	@background-color: #ededec;
	@border-color: #dfdfdf;

	.Todos {

		> .header {
			background-color: #2078C7;
			color: #fff;
			display: table;
			width: 100%;

			* > {
				display: table-cell;
				padding: 5px;
				vertical-align: middle;
			}

			h2 {
				width: 100%;
			}

			.actions {
				.action {
					float: right;
				}
			}
		}
		
		
		.list {
			display: table;
			border: 1px solid @border-color;
			background-color: #fff;
			width: 100%;
		}

		




	}