
	@import './modules/Todos.less';
	@import './checkbox.less';

	body {
		font-family: Helvetica, sans-serif;
		background-color: #ededec;


		@media (max-width: 640px) {
			font-size: 2em;
		}
	}

	input, 
	button, 
	textarea {
		margin: 0px;
		padding: 2px;
		font-size: inherit;
		border: 1px solid black;
		box-shadow: none;
	}






